html, body {
    background-color: black !important;
}
#header {
    /*padding-bottom: 100px;*/
}
.scrol a {
    outline: none !important;
}
.mobnavbar a{
    outline: none;
    color: aliceblue;
}
.mobnavbar {
    padding-bottom: 20px;
}
